MT5_LOGIN=1513485644
MT5_SERVER=FTMO-Demo
MT5_PASSWORD=your_password_here

BRIDGE_ZMQ_PUBLIC_KEY=
BRIDGE_ZMQ_SECRET_KEY=
RAILWAY_ZMQ_PUBLIC_KEY=

ZMQ_DOWNSTREAM_PORT=5555
ZMQ_UPSTREAM_PORT=5556
RAILWAY_HOST=127.0.0.1

STALE_THRESHOLD_PIPS=5.0
ACCOUNT_STATE_INTERVAL=60
HEARTBEAT_TIMEOUT=120